.ant-layout-header { border-bottom: 0.5px solid #e1e1e1; }
.ant-layout-header div { float: left; color: #1da1f2; width: 200px; font-size: 28px; }
.ant-layout-content { text-align: center; }
.ant-layout-footer { text-align: center; }
.ant-list-item { text-align: left; }
.avatar { margin-bottom: 24px; text-align: center; }
.avatar img { width: 104px; height: 104px; margin-bottom: 20px;}
.avatar .name { margin-bottom: 4px; font-weight: 500; font-size: 20px; line-height: 28px; }
.user { font-size: 20px; }
.user .item { margin-top: 20px; }
.user .item span { color: rgba(0, 0, 0, 0.65); }
.login-btn { float:right; margin-top: 15px; }
.sign-btn { float: right; margin: 15px 15px 0 0; }
.edit-btn { float: right; margin: 15px 0 0 15px; }
.modal-label { margin: 23px 0 14px 0; }
.item-content { max-width: 720px; line-height: 22px; }
.item-attach { margin-top: 16px; line-height: 22px; }
.item-extra { margin-top: 16px; color: rgba(0, 0, 0, 0.45); line-height:22px; }



